#MainPage {
    position:absolute;
    left: 0%;
    transition: left 2s ease;
    width: 100%;
    
}

#AmountPage{
    width: 100%;
    position:absolute;
    left : -1000%;
    transition: left 2s ease; 
}

#StatsPage{
    width: 100%;
    position:absolute;
    left : -1000%;
    transition: left 2s ease; 
}

#SettingsPage{
    width: 100%;
    position:absolute;
    left : -1000%;
    transition: left 2s ease; 
}

#AddText{
  text-align: center;
  font:normal 2em Arial;
  color:#DAA520;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #F0E68C,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

#ChangeOperation{
  width :10%;
  float: left;
}

#AmountSpent{
  text-align: center;
  font:normal 3.5999em Arial;
  color:#DAA520;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
  width : 88%;
}

input {
    border: 1px solid #96d1f8; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(175,175,255,0.5);
    margin: 0 0 10px 0;
    width: 25%;
    padding: 5px 10px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: r
}

h1{
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;  
    font-size: 36px;
    line-height: 40px;
    padding: 15px 15px 15px 15%;
    color: #355681;
    text-shadow: 0px 2px 3px #666;
  }

.button {
   -webkit-user-select: none;
   text-align: center;
   cursor:pointer;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 3em;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   height : auto;
   }  

.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.button2 {
   -webkit-user-select: none;
   text-align: center;
   cursor:pointer;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #339966, #339966);
   background: -moz-linear-gradient(top, #339966, #339966);
   background: -ms-linear-gradient(top, #339966, #339966);
   background: -o-linear-gradient(top, #339966, #339966);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 3em;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }  

.button2:hover {
   border-top-color: #1F5C3D;
   background: #1F5C3D;
   color: #ccc;
   }
   
.button2:active {
   border-top-color: #143D29;
   background: #143D29;
   }

.button3 {
   -webkit-user-select: none;
   text-align: center;
   cursor:pointer;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 3em;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   height : auto;
   float: left;
   width: 50%;
   }  

.button3:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

.button3:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

#SearchResults {
  font-size: "Comic Sans MS", cursive, sans-serif;
}

header {

  background: #fff;
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid #4C9CF1;
  z-index: 100;

}

#logo{

  margin: .1em;
  float: left;
  width: 18em;
  height: 3.5em;
  background: url(logo.png) no-repeat center;
  display: block;

}

nav {

  float: right;
  padding: 20px;  

}
ul {

  list-style: none;

}

li {

  display: inline-block;
  float: left;
  padding: 10px

}

a {

  color: #4C9CF1;
  text-decoration: none;
  font-weight: bold;

}

a:hover {

  color: #444;

}

section {

  margin: 5% auto 2.5%;
  max-width: 80%;
  position: relative;
  padding: 5%;

}
